.menu {
    background-color: #004030;
    padding-bottom:15px;
    padding-top:7px;
}

.menu-items {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.menu-items h4 {
    transition: color 0.2s ease;
    cursor: pointer;
}

.menu-items h4:hover {
    color: blue; /* swap for your hover color */
}

.main-body {
    background-image: url('https://courses.ics.hawaii.edu/ics314f26/morea/ui-frameworks/murphys-new-background.jpeg');
    background-size: cover;
    background-position: center;
    height: 700px;
}

.text-center{
    color: white;
    align-items: center;
}

.green-background {
  background-color: #004030; /* swap for your green */
  color: white;
}

.footer-title {
  padding-bottom: 5px;
  margin-bottom: 7px;
  border-bottom: 2px solid white;
}